:root {
    --grey: #5e6e5e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;
}

/* Nav bar styles */

.nav {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 1.6rem 3rem;
    align-items: center;
}

.menu-btn {
    display: none;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    margin-left: 2.5rem;
    display: flex;
    column-gap: 2.5rem;
    list-style: none;
    font-size: 1rem;
}

.nav-item > a {
    text-decoration: none;
    color: var(--grey);
    position: relative;
}

.nav-item > a:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 50%;
    background: var(--grey);
    transition: width 0.4s ease 0.1s, left 0.4s ease 0.1s;
    width: 0;
}

.nav-item > a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-item a:hover {
    color: #000;
}

.nav-dropdown-item {
    position: relative;
}

.dropdown-container {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding: 1.2rem 1.2rem;
    background-color: #fff;
    border-radius: 0.5rem;
    top: 2.2rem;
    transition: visibility 0, opacity 0.5s linear;
}

.features-dropdown {
    width: 165px;
    left: -80px;
}

.company-dropdown {
    width: 120px;
}

.company-dropdown li {
    margin-left: 0.5rem;
}

.active {
    visibility: visible;
    opacity: 1;
}

.dropdown-container > ul {
    list-style: none;
    padding: 0;
}

.dropdown-container > ul > li {
    margin-top: 0.7rem;
}

.dropdown-container > ul > li:first-of-type{
    margin-top: 0.1rem;
}

.dropdown-container > ul a {
    text-decoration: none;
    margin: 0.5rem 0 0 0;
    color: var(--grey);
}

.dropdown-container > ul span {
    padding: 0.5rem;
}

.nav-btn {
    margin: 1rem;
    padding: 0.8rem 1.4rem;
    color: var(--grey);
    font-weight: 700;
    font-size: 1rem;
    background-color: transparent;
}

.nav-btn:hover {
    color: #000;
    cursor: pointer;
}

.login-btn {
    border: none;
}

.dark-btn {
    border-radius: 0.7rem;
    border: 0.15rem solid var(--grey);
}

.dark-btn:hover {
    border-color: #000;
}


/* Mobile nav style */

.menu-btn {
    /* display: none; */
    position: absolute;
    right: 1.5rem;
}

/* Main content styles */

.main-content {
    max-width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
}

.call-to-action {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.call-to-action > h1 {
    font-size: 5.8rem;
    font-weight: 900;
    margin: 0;
    line-height: 0.9;
}

.call-to-action > p {
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6;
    color: var(--grey);
    max-width: 75%;
    margin: 0;
}

.action-btn {
    margin: 0 0 3rem 0;
    width: fit-content;
    padding: 0.8rem 1.4rem;
    color: #f5f5f5;
    background-color: #000;
    font-weight: 700;
    font-size: 1rem;
    border-color: #000;
    letter-spacing: 1px;
}

.action-btn:hover {
    color: var(--grey);
    background-color: transparent;
    border-color: var(--grey);
    cursor: pointer;
}

.client-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
}


.hero-img {
    width: 500px;
    justify-self: end;
}

/* attribution style */

.attribution {
    text-align: center;
    margin-top: 6rem;
    font-size: 0.95rem;
}

.attribution > a {
    text-decoration: none;
    color: var(--grey);
    position: relative;
}

.attribution > a:hover {
    cursor: pointer;
    color: #000;
}

.attribution > a:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    left: 50%;
    background: var(--grey);
    transition: width 0.4s ease 0.1s, left 0.4s ease 0.1s;
    width: 0;
}

.attribution > a:hover:after { 
    width: 100%; 
    left: 0; 
}

@media only screen and (max-width: 600px) {
    .brand-logo {
        position: absolute;
        left: 1rem;
    }

    .nav {
        grid-template-columns: 1fr 1fr;
        padding: 3rem 4rem;
    }

    .menu-btn {
        display: block;
        z-index: 20;
    }

    .menu-btn:hover {
        cursor: pointer;
    }

    .nav-items, .nav-buttons {
        display: flex;
        flex-direction: column;
    }

    .menu-content {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: white;
        padding: 20% 0 100%;
        width: 50%;
        z-index: 10;
    }

    .menu-open {
        display: flex;
    }

    .nav-items {
        padding: 0;
        margin: 0;
        margin-inline-end: 50%;
    }

    .nav-item {
        margin-top: 1.3rem;
        position: static;
    }

    .nav-buttons {
        margin: 2rem auto;
        width: 90%;
    }

    .dropdown-container {
        display: none;
        position: static;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
    }

    .active {
        display: block;
    }
   
} 
